{% extends "base.html" %} {% block title %}Estoque{% endblock %} {% block
content %}

<div class="container mt-5">
  <table class="table table-sm table-condensed table-striped">
    <thead>
      <th>ID</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Desconto</th>
      <th>Estoque</th>
      <th>Imagem</th>
      <th>Editar</th>
      <th>Deletar</th>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{loop.index}}</td><!--Looping de index para listar os itens apresentados da base de dados -->
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.discount}}%</td>
        <td>{{product.stock}}</td>
        <td><img src="{{url_for('static', filename='images/' + product.img)}}" width="50" height="40"/></td>
        <td><a href="{{url_for('auth.updateProduct', id=product.id)}}" class="btn btn-info btn-sm">Editar</a></td>
        <td>
            <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{product.id}}">Deletar</button>
        </td>
      </tr>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal-{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{product.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="text-danger"> Você tem certeza que deseja excluir esse produto ({{product.name}})?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cancelar</button>
              <form action="{{url_for('auth.deleteProduct', id=product.id)}}" method="post">
                <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </tbody>
  </table>
</div>

<br />
<footer class="text-light">
  <div class="text-center" style="background-color: #d85372; padding: 20px;" >
    &copy 2023 Copyright: <a href="#" style="color: aliceblue;">Cupcakes Gourmet</a>
  </div>
</footer>

{% endblock %}
